node_modules/
bower_components/
config/application-config.js
.sass-cache/
.idea/
.tmp/
.DS_Store
dump.rdb
run.sh
dist/
src/public/bower_components
src/public/javascripts
src/public/stylesheets
!src/public/stylesheets/fonts
src/app/layouts/final
