@charset "UTF-8";

@font-face {
  font-family: "biab";
  src:url("fonts/biab.eot");
  src:url("fonts/biab.eot?#iefix") format("embedded-opentype"),
    url("fonts/biab.woff") format("woff"),
    url("fonts/biab.ttf") format("truetype"),
    url("fonts/biab.svg#biab") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "biab" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "biab" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-01:before {
  content: "a";
}
.icon-ico-02:before {
  content: "b";
}
.icon-ico-03:before {
  content: "c";
}
.icon-ico-04:before {
  content: "d";
}
.icon-ico-05:before {
  content: "e";
}
.icon-ico-06:before {
  content: "f";
}
.icon-ico-07:before {
  content: "g";
}
.icon-ico-08:before {
  content: "h";
}
.icon-ico-09:before {
  content: "i";
}
.icon-ico-10:before {
  content: "j";
}
.icon-ico-11:before {
  content: "k";
}
.icon-ico-12:before {
  content: "l";
}
.icon-ico-13:before {
  content: "m";
}
.icon-ico-14:before {
  content: "n";
}
.icon-ico-15:before {
  content: "o";
}
.icon-ico-16:before {
  content: "p";
}
.icon-ico-17:before {
  content: "q";
}
.icon-ico-18:before {
  content: "r";
}
.icon-ico-19:before {
  content: "s";
}
.icon-ico-20:before {
  content: "t";
}
.icon-ico-21:before {
  content: "u";
}
.icon-ico-22:before {
  content: "v";
}
.icon-ico-23:before {
  content: "w";
}
.icon-ico-24:before {
  content: "x";
}
.icon-ico-25:before {
  content: "y";
}
.icon-ico-26:before {
  content: "z";
}
.icon-ico-27:before {
  content: "A";
}
.icon-ico-28:before {
  content: "B";
}
.icon-ico-29:before {
  content: "C";
}
.icon-ico-30:before {
  content: "D";
}
.icon-ico-31:before {
  content: "E";
}
.icon-ico-32:before {
  content: "F";
}
.icon-ico-33:before {
  content: "G";
}
.icon-ico-34:before {
  content: "H";
}
.icon-ico-35:before {
  content: "I";
}
.icon-ico-36:before {
  content: "J";
}
.icon-ico-37:before {
  content: "K";
}
.icon-ico-38:before {
  content: "L";
}
.icon-ico-39:before {
  content: "M";
}
.icon-ico-40:before {
  content: "N";
}
.icon-ico-41:before {
  content: "O";
}
.icon-ico-42:before {
  content: "P";
}
.icon-ico-43:before {
  content: "Q";
}
.icon-ico-44:before {
  content: "R";
}
.icon-ico-45:before {
  content: "S";
}
.icon-ico-46:before {
  content: "T";
}
.icon-ico-47:before {
  content: "U";
}
.icon-ico-48:before {
  content: "V";
}
