@import unquote('url(https://fonts.googleapis.com/css?family=Oswald:400,700,300)')
@import unquote('url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,900)')

*
	-webkit-transition all 0.4s ease
	-moz-transition all 0.4s ease
	-ms-transition all 0.4s ease
	-o-transition all 0.4s ease
	transition all 0.4s ease
	margin 0px
	padding 0px
body
	background #d0d3d4
	font-family 'Roboto', Helvetica, sans-serif
	font-weight 300
	color #434344
a
	-webkit-transition all 0.5s ease-in-out
	-moz-transition all 0.5s ease-in-out
	-ms-transition all 0.5s ease-in-out
	-o-transition all 0.5s ease-in-out
	transition all 0.5s ease-in-out
	color #49aeb7
	text-decoration none !important
	&:hover
		color #007675
li
	list-style none !important
.hidden
	display none
.backg
	height 100%
	background url('/images/bg1.jpg') top center no-repeat
	-webkit-background-size cover
	background-size cover
	position fixed
	z-index -10
	width 100%
	-webkit-transition all 0.6s ease-in-out
	-moz-transition all 0.6s ease-in-out
	-o-transition all 0.6s ease-in-out
	transition all 0.6s ease-in-out

//header
header
	h3
		font "Roboto"
		color white
		font-size 1em
		font-weight 400
		display inline-block
		margin 0
		padding 14px 5px 14px 10px
	.titlebar
		width 100%
		background #2a2a2a
	nav
		background rgba(17,26,29,0.8)
		padding 5px 0 0
		position relative
.icon
	font-size 40px
	line-height 10px
	padding 5px
.navlang
	font-size 20px
	vertical-align top
	li
		margin 5px
		display none
		font-weight 400
		letter-spacing 1px
	.active
		display block
	&:hover li
		display block
.nav_scrolled
	position fixed
	top 0
header
	a
		color white
		display block
.left
	float left
.right
	float right

.contenedor
	width 1000px
	margin 0 auto

.divisor
	border-top 2px #2a2a2a solid
	margin 20px 0 30px

// GENERALES A TODAS LAS SECCIONES
.menu_about
	padding-right 40px
	li
		text-align center
		display inline-block
		margin 5px
	a
		background rgba(255,255,255,0.8)
		padding 8px 25px
		display block
		text-transform uppercase
		font-family 'Oswald'
		color #5D5E5E
		font-size 1.286em
	#active
		background rgba(255,255,255,1)
		color #007675
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

.contenido
	margin 0 auto
	width 1000px
	h1
		font-size 3em
		font-family 'Oswald'
		font-weight 700
		text-transform uppercase
	h1:nth-child(1)
		margin-top: 20px
	h2
		font-family 'Oswald'
		font-size 2em
	.col_texto
		background rgba(255,255,255,0.9)
		padding 30px 35px 20px 55px
		max-width 380px
		float right
		min-height 500px
		margin-top 0
		font-size 0.929em
		vertical-align top
		font-weight 400
		b
			color #04adac
	.colordiv
		width 10px
		height 87px
		background-color: #04adac
		float right
		margin-top 30px
		vertical-align top
		border none
/* COLORES POR SECCION */

.intro
	background rgba(255,255,255,0.8)
	border-top 2px #2a2a2a solid
	padding 0 40px
	max-width 1000px
	margin-top 30px
	h1
		color #2a2a2a
		font-size 5.714em
		line-height 0.8em
	h1:nth-child(1)
		margin-top 30px
	h2
		color #007675
		font-size 2.571em
		font-weight 300
		width 50%
		line-height 1.2em
	img
		float right
		margin-top -50px
	.col50
		width 50%
		height 500px
		float left
		margin-right 20px
.componentes
	h1
	h2
		color #F2A034
		text-transform uppercase


@media (min-width:1200px)
	.loading
		bottom 136px
	.visible-large-screen
		display inline-block !important
@media (min-width:992px) and (max-width:1199px)
	.loading
		bottom 136px
@media (min-width:1090px)
	.loading
		bottom 136px
@media (min-width:761px) and (max-width:1199px)
	.loading
		bottom 136px
@media (min-width:768px) and (max-width:995px)
	.loading
		bottom 136px
@media (min-width:360px) and (max-width:760px)
	.loading
		bottom 0px
@media (max-width:320px)
	.loading
		bottom 0px
/* Estilos de apoyo */
.loading2
	background-image url("/images/loading/loading64w.gif")
	background-position center center
	background-repeat no-repeat
	opacity .5
	-moz-opacity .5
	height 200px
.hiding
	opacity .5
	-moz-opacity .5
.hide-element
	visibility hidden
.occult-element
	display none
.opacity-element
	opacity .2
	-moz-opacity .2
/* Fin de estilos de apoyo */
