extends ../../layouts/final/layout

block content
	.backg
		img(id="foto" src='images/bg1.jpg')
	.contenido.login.hidden
		.icon-ico-32
		h3 ingreso
		.divisor
		.logop
			a(class="" href="")
				img(src='images/google.png')
			a(class="" href="")
				img(src='images/linkedin.png')
			a(class="" href="")
				img(src='images/facebook.png')
		h4 Ó
		form(id="", method="", action="")
			input.input-login(type="text" name="username" placeholder="Email address")
			input.input-login(type="password" name="password" placeholder="Password")
			label.checkbox
				<input type="checkbox" value="remember-me" /> Recordarme
			button.btn(type="submit") Acceder
		.clearfix
		a(class="linkslog" href="") cambio de clave
		a(class="linkslog" href="") registro
	#section1
	.contenido.intro.clearfix
		.col50
			h1 bon in 
				br
				| a box
			img(src='images/main1.png')
			.divisor
			h2 Herramientas de monitoreo para necesidades específicas
		.colordiv.cd1
		.col_texto
			| Better information on the status, trends and drivers of biodiversity change is needed to assist governments in developing more effective and timely policy responses. There are many 
			b excellent tools, protocols and software 
			| in use that facilitate effective biodiversity monitoring but these are not easily discoverable or available to all regions of the planet. As well, current efforts to monitor biodiversity are not interoperable, thereby limiting our ability to detect change and the underlying mechanisms driving change in biodiversity.
	.contenido.clearfix
		ul.menu_about.right
			li
				a(href="" id="active") LA CAJA
			li
				a(href="") PÚBLICO
			li
				a(href="") MOTIVO
			li
				a(href="") MANEJO
			li
				a(href="") GEO BON
			li
				a(href="") ALIADOS
	#section2
	.contenido.componentes.clearfix
		.col25.right
			.hexicon
				a(class="bgic" href="")
					img(src='images/filt1.png')
				a(class="smic" href="")
					img(src='images/filt2sm.png')
				a(class="smic" href="")
					img(src='images/filt3sm.png')
				a(class="smic" href="")
					img(src='images/filt4sm.png')
				a(class="smic" href="")
					img(src='images/filt5sm.png')
		h1 COMPONENTES DEL MONITOREO
		.divisor
		.col_iconos
			ul
				li.grande
					a(class="icon-ico-01" id="active" title="Bon in a Box" href="")
				li
					a(class="icon-ico-02" title="Bon in a Box" href="")
				li
					a(class="icon-ico-03" title="Bon in a Box" href="")
				li
					a(class="icon-ico-04" title="Bon in a Box" href="")
				li
					a(class="icon-ico-05" title="Bon in a Box" href="")
			h2 OBSERVATION DESIGN
			h3 Primeras preguntas claves en Monitoreo
		.colordiv.cd1
		.col_texto
			| Better information on the status, trends and drivers of biodiversity change is needed to assist governments in developing more effective and timely policy responses. There are many excellent tools, protocols and software in use that facilitate effective biodiversity monitoring but these are not easily discoverable or available to all regions of the planet. As well, current efforts to monitor biodiversity are not interoperable, thereby limiting our ability to detect change and the underlying mechanisms driving change in biodiversity.
	#section3
	.contenidog.filter_ui
		.col_herramientas
			h4 herramientas
			aa(class="proponer" title="new tools" href="") proponer
			.divisor
			nav.categorias
				ul
					li
						a(class="mic" href="")
							img(src='images/tools.png')
					li
						a(class="mic" href="")
							img(src='images/filt1m.png')
					li
						a(class="mic" href="")
							img(src='images/filt2m.png')
					li
						a(class="mic selected" href="")
							img(src='images/filt3m.png')
					li
						a(class="mic" href="")
							img(src='images/filt4m.png')
					li
						a(class="mic" href="")
							img(src='images/filt5m.png')
					li
						a(class="mic" href="")
							img(src='images/lupa.png')
					li.right
						a(class="mic" href="")
							img(src='images/country.png')
			.filtros
				ul
					li
						a(class="fil_icon icon-ico-12" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-13" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-14" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-15" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-16" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-17" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-18" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-19" title="Bon in a Box" href="")
					li
						a(class="fil_icon icon-ico-20" title="Bon in a Box" href="")
			.resultados
				.card_herramienta
					img(src='images/fox.jpg')
					.titulos_card
						h3 BIOMODELOS
						h5 INSTITUTO DE RECURSOS BIOLÓGICOS ALEXANDER VON HUMBOLDT
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					ul
						li
							a(class="icon-ico-06" title="Bon in a Box" href="")
						li
							a(class="icon-ico-07" title="Bon in a Box" href="")
						li
							a(class="icon-ico-08" title="Bon in a Box" href="")
						li
							a(class="icon-ico-09" title="Bon in a Box" href="")
					a(class="ver_mas right" title="Bon in a Box" href="") +
				.card_herramienta
					.titulos_card
						h3 BIOMODELOS
						h5 INSTITUTO DE RECURSOS BIOLÓGICOS ALEXANDER VON HUMBOLDT
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					ul
						li
							a(class="icon-ico-06" title="Bon in a Box" href="")
						li
							a(class="icon-ico-07" title="Bon in a Box" href="")
						li
							a(class="icon-ico-08" title="Bon in a Box" href="")
						li
							a(class="icon-ico-09" title="Bon in a Box" href="")
					a(class="ver_mas right" title="Bon in a Box" href="") +
				.card_herramienta
					.titulos_card
						h3 BIOMODELOS
						h5 INSTITUTO DE RECURSOS BIOLÓGICOS ALEXANDER VON HUMBOLDT
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					ul
						li
							a(class="icon-ico-06" title="Bon in a Box" href="")
						li
							a(class="icon-ico-07" title="Bon in a Box" href="")
						li
							a(class="icon-ico-08" title="Bon in a Box" href="")
						li
							a(class="icon-ico-09" title="Bon in a Box" href="")
					a(class="ver_mas right" title="Bon in a Box" href="") +

		.col_directorio
			h4 directorio
			.divisor
			nav.categorias
				ul
					li
						a(class="mic selected" href="")
							img(src='images/directory.png')
					li
						a(class="mic" href="")
							img(src='images/inst.png')
					li
						a(class="mic" href="")
							img(src='images/inic.png')
					li
						a(class="mic" href="")
							img(src='images/inves.png')
					li.right
						a(class="mic" href="")
							img(src='images/country.png')
			.areaforstuff
			.resultados
				.card_directory.clearfix
					.visual.clearfix
						.logo.left
							img(src='images/humboldt.png')
						.dirlogo.right
							img(src='images/instsm.png')
					h3 INSTITUTO DE INVESTIGACIÓN DE RECURSOS BIOLÓGICOS ALEXANDER VON HUMBOLDT
					h5 colombia
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					a(href="") sitio web
					a(href="") contacto
	.contenido.toolabst.clearfix.hidden
		.smbox.clearfix
			a(class="" href="")
				img(src='images/xxx.png')
		.toolinfo
			.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
		.respinfo
		.usercomment
	#section4
	.contenido.forum
		h4 preguntas comunidad
		.icon-ico-33.bigico
		.divisor
		.cajaf1
			h5 Preguntas Populares
			.qcard
				.clearfix
					.crop
						img(src='images/c2.jpg')
					.name Cesar Gutierrez
					.date 09 - 09 - 15
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
				a(class="ver_mas right" title="Ir" href="") +
		.cajaf2
			.state1.hidden
				h5 Consulta con la red 
					b Bon in a Box
				form(id="" method="" action="" class="clearfix")
					textarea.input-forum(type="textarea" name="question" placeholder="Pregunta sobre herramientas y monitoreo")
					button(type="submit") preguntar
				h5 Últimas Preguntas
				.qcard2
					.clearfix
						.crop
							img(src='images/c2.jpg')
						.name Cesar Gutierrez
						.date 09 - 09 - 15
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					a(class="ver_mas right" title="Reply" href="") responder
			.state2
				.qcard3
					.clearfix
						.crop
							img(src='images/c2.jpg')
						.name Cesar Gutierrez
						.date 09 - 09 - 15
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					a(class="ver_mas right" title="Reply" href="") responder
					a(class="ver_mas right" title="Edit" href="") editar
					a(class="ver_mas right" title="Delete" href="") x
				form(id="" method="" action="" class="clearfix hidden")
					textarea.input-forum(type="textarea" name="answer" placeholder="Responder a esta pregunta")
					button(type="submit") responder
				.qcard2
					.qualifier
						.arrow-up
						h5 12
						.arrow-down
					.answer
						.clearfix
							.bestansw
								p mejor respuesta
								img(src='images/chulo.png')
							.crop
								img(src='images/c2.jpg')
							.name Cesar Gutierrez
							.date 09 - 09 - 15
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						a(class="ver_mas right" title="Reply" href="") comentar
						a(class="ver_mas right" title="Edit" href="") editar
						a(class="ver_mas right" title="Delete" href="") x
					form(id="" method="" action="" class="tacomment hidden")
						textarea.input-forum(type="textarea" name="comment" placeholder="comentar a esta respuesta")
						button(type="submit") comentar
					.answcomment
						.clearfix
							.crop
								img(src='images/c2.jpg')
							.name Cesar Gutierrez
							.date 09 - 09 - 15
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						a(class="ver_mas right" title="Reply" href="") comentar
						a(class="ver_mas right" title="Edit" href="") editar
						a(class="ver_mas right" title="Delete" href="") x
				.qcard2
					.qualifier
						.arrow-up
						h5 10
						.arrow-down
					.answer
						.clearfix
							.crop
								img(src='images/c2.jpg')
							.name Cesar Gutierrez
							.date 09 - 09 - 15
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						a(class="ver_mas right" title="Reply" href="") comentar
						a(class="ver_mas right" title="Edit" href="") editar
						a(class="ver_mas right" title="Delete" href="") x


