extends ../../layouts/final/layout

block content
	.backg
		img(id="foto" src='images/bg1.jpg')
			
	.contenido.intro.clearfix
		.col50
			h1 bon in
			h1 a box
			.divisor
				img(src='images/main1.png')
			h2 Herramientas de monitoreo para necesidades específicas
		.colordiv.cd1
		.col_texto
			| Better information on the status, trends and drivers of biodiversity change is needed to assist governments in developing more effective and timely policy responses. There are many 
			b excellent tools, protocols and software 
			| in use that facilitate effective biodiversity monitoring but these are not easily discoverable or available to all regions of the planet. As well, current efforts to monitor biodiversity are not interoperable, thereby limiting our ability to detect change and the underlying mechanisms driving change in biodiversity.
	.contenido.clearfix
		ul.menu_about.right
			li
				a(href="" id="active") LA CAJA
			li
				a(href="") PÚBLICO
			li
				a(href="") MOTIVO
			li
				a(href="") MANEJO
			li
				a(href="") GEO BON
			li
				a(href="") ALIADOS

	.contenido.componentes.clearfix
		h1 COMPONENTES DEL MONITOREO
		.col25
			.hexicon
				.hexagon
				p L
			.clearfix
			.hexiconsm
				.hexagonsm
				p M
			.hexiconsm
				.hexagonsm
				p N
			.hexiconsm
				.hexagonsm
				p O
			.hexiconsm
				.hexagonsm
				p P
		.divisor
		.col_iconos
			h2 OBSERVATION DESIGN
			h3 Primeras preguntas claves en Monitoreo
			ul
				li.grande
					a(class="icon-ico-01", id="active" title="Bon in a Box", href="")
				li
					a(class="icon-ico-02", title="Bon in a Box", href="")
				li
					a(class="icon-ico-03", title="Bon in a Box", href="")
				li
					a(class="icon-ico-04", title="Bon in a Box", href="")
				li
					a(class="icon-ico-05", title="Bon in a Box", href="")
		.colordiv.cd1
		.col_texto
			| Better information on the status, trends and drivers of biodiversity change is needed to assist governments in developing more effective and timely policy responses. There are many excellent tools, protocols and software in use that facilitate effective biodiversity monitoring but these are not easily discoverable or available to all regions of the planet. As well, current efforts to monitor biodiversity are not interoperable, thereby limiting our ability to detect change and the underlying mechanisms driving change in biodiversity.

	.contenido.col_herramientas
		h4.herramientas
			a.proponer
			nav.categorias
				ul
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li.right
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
			.filtros
				ul
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
			.resultados
				.card_herramienta
					img(src='')
					h3 BIOMODELOS
					h4 INSTITUTO DE RECURSOS BIOLÓGICOS ALEXANDER VON HUMBOLDT
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					ul
						li
							a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					a(class="ver_mas right", id="active" title="Bon in a Box", href="")
		.col_directorio
			nav.categorias
				ul
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
					li.right
						a(class="icon icon-ico-34", id="active" title="Bon in a Box", href="")
