ul.header-inner
	li#menu-trigger(data-target='mainmenu', data-toggle-sidebar, data-model-left='adminctrl.sidebarToggle.left', data-ng-class="{ 'open': adminctrl.sidebarToggle.left === true }")
		.line-wrap
			.line.top
			.line.center
			.line.bottom

	li.logo.hidden-xs
		a(data-ui-sref='home') Bon in a box - Dashboard

	li.pull-right
		ul.top-menu
			li.dropdown(uib-dropdown='')
				a.tm-settings(uib-dropdown-toggle='', href='')
				ul.uib-dropdown-menu.dm-icon.pull-right
					li.hidden-xs
						a(data-ng-click='hctrl.fullScreen()', href='')
							i.zmdi.zmdi-fullscreen
							| Toggle Fullscreen
					li
						a(href='/')
							i.zmdi.zmdi-home
							| Home
					li
						a(href="/logout")
							i.glyphicon.glyphicon-log-out
							| Logout
// Top Search
//- #top-search-wrap
	input(type='text')
	i#top-search-close(data-ng-click='hctrl.closeSearch()') &times;
