.sidebar-inner.c-overflow
	.profile-menu
		a(href='', toggle-submenu='')
			.profile-pic
				svg.user-icon
					use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user-icon")
			.profile-info
				span(data-ng-bind="adminctrl.username")
				i.zmdi.zmdi-caret-down
		ul.main-menu
			li
				a(data-ui-sref='user_review', data-ng-click='adminctrl.sidebarStat($event)')
					i.zmdi.zmdi-account
					| View Profile
			li
				a(href="/logout")
					i.glyphicon.glyphicon-log-out
					| Logout
	ul.main-menu
		li(data-ui-sref-active='active')
			a(data-ui-sref='home', data-ng-click='adminctrl.sidebarStat($event)')
				i.zmdi.zmdi-home
				| Home
		li(data-ui-sref-active='active')
			a(data-ui-sref='users', data-ng-click='adminctrl.sidebarStat($event)')
				i.zmdi.zmdi-accounts-alt
				| Users
		li(data-ui-sref-active='active')
			a(data-ui-sref='tools', data-ng-click='adminctrl.sidebarStat($event)')
				i.zmdi.zmdi-case
				| Tools
		li(data-ui-sref-active='active')
			a(data-ui-sref='directory', data-ng-click='adminctrl.sidebarStat($event)')
				i.zmdi.zmdi-library
				| Directory
		li(data-ui-sref-active='active')
			a(data-ui-sref='forums', data-ng-click='adminctrl.sidebarStat($event)')
				i.zmdi.zmdi-comments
				| Forums

		li(data-ui-sref-active='active')
			a(data-ui-sref='tool_review', data-ng-click='adminctrl.sidebarStat($event)')
				i.zmdi.zmdi-comments
				| toolreview

		li(data-ui-sref-active='active')
			a(data-ui-sref='directory_review', data-ng-click='adminctrl.sidebarStat($event)')
				i.zmdi.zmdi-comments
				| direcreview

