block footer
		footer
			.contenedor
				.colft
					h6 Contact Information
					div
						p GEO BON
							br
							| Dr. Jörg Freyhof
							br
							| German Centre for Integrative Biodiversity Research (iDiv)
							br
							| Halle-Jena-Leipzig
				.colft
					div
						p Deutscher Platz 5a
							br
							| 04103 Leipzig
							br
							| GERMANY
						p Phone · +49 341 9733141
							br
							| Email · 
							a(href="mailto:info@geobon.org") info@geobon.org
							br
							| Web · 
							a(href="www.geobon.org", target="_blank") www.geobon.org
				ul.langft
					li
						a(class="current" href="") Español
					li
						a(href="") Inglés
					li
						a(href="") Portugués
			small 
				.contenedorsm Copyright © 2015 GEO BON · German Centre for Integrative Biodiversity Research (iDiv) Halle - Jena - Leipzig · iDiv is a research centre of the DFG
