block footer
		footer
			.contenedor
				.colft
					h6 Contact Information
					div
						p GEO BON
						p Dr. Jörg Freyhof
						p German Centre for Integrative
						p Biodiversity Research (iDiv)
						p Halle-Jena-Leipzig
				.colft
					div
						p Deutscher Platz 5a
						p 04103 Leipzig
						p GERMANY
						br 
						p Phone · +49 341 9733141
						p Email · 
							a(href="mailto:info@geobon.org") info@geobon.org
						p Web · 
							a(href="www.geobon.org", target="_blank") www.geobon.org
				ul.langft
					li
						a(class="current" href="") Español
					li
						a(href="") Inglés
					li
						a(href="") Portugués
			small 
				.contenedorsm Copyright © 2015 GEO BON · German Centre for Integrative Biodiversity Research (iDiv) Halle - Jena - Leipzig · iDiv is a research centre of the DFG
