block footer
		footer.static-bottom
			small
				.contenedorsm Copyright © 2015 GEO BON · German Centre for Integrative Biodiversity Research (iDiv) Halle - Jena - Leipzig · iDiv is a research centre of the DFG
