block header
	header
		.titlebar
			.contenedor
				h3
					a(class="left", title="GEO BON", href="http://geobon.org", target="_blank") GEO BON
				h3.right BON IN A BOX Latinoamerica Region
		nav
			.contenedor
				ul
					li.left
						a(class="icon ico-32", title="Login", href="")
					li.left
						a(class="icon ico-33", title="Forum", href="")
					li.right
						a(class="icon ico-34", title="Bon in a Box", href="")
					li.right
						a(class="icon ico-35", title="Categories", href="")
					li.right
						a(class="icon ico-36", title="Tools", href="")
					li.right
						a(class="icon ico-37", title="Contact", href="")
					li.right
						ul.navlang
							li.right.active
								a(title="Español", href="") ES
							li
								a(title="English", href="") EN
							li
								a(title="Português", href="") PT
	.contenido.intro
		h1 BON IN A BOX
		.divisor
			img(src='')
		h2 Herramientas de monitoreopara necesidades específicas
		.col_texto
			| Better information on the status, trends and drivers of biodiversity change is needed to assist governments in developing more effective and timely policy responses. There are many excellent tools, protocols and software in use that facilitate effective biodiversity monitoring but these are not easily discoverable or available to all regions of the planet. As well, current efforts to monitor biodiversity are not interoperable, thereby limiting our ability to detect change and the underlying mechanisms driving change in biodiversity.
	ul.menu_about.right
		li
			a(href="") LA CAJA
		li
			a(href="") LA CAJA
		li
			a(href="") LA CAJA
		li
			a(href="") LA CAJA
		li
			a(href="") LA CAJA
		li
			a(href="") LA CAJA

	.contenido.componentes
		h1 COMPONENTES DEL MONITOREO
		.col_iconos
			h2 OBSERVATION DESIGN
			h3 Primeras preguntas claves en Monitoreo
			ul
				li
					a(class="icon ico-34", id="active" title="Bon in a Box", href="")
				li
					a(class="icon ico-34", title="Bon in a Box", href="")
				li
					a(class="icon ico-34", title="Bon in a Box", href="")
				li
					a(class="icon ico-34", title="Bon in a Box", href="")
				li
					a(class="icon ico-34", title="Bon in a Box", href="")
		.col_texto
			| Better information on the status, trends and drivers of biodiversity change is needed to assist governments in developing more effective and timely policy responses. There are many excellent tools, protocols and software in use that facilitate effective biodiversity monitoring but these are not easily discoverable or available to all regions of the planet. As well, current efforts to monitor biodiversity are not interoperable, thereby limiting our ability to detect change and the underlying mechanisms driving change in biodiversity.

		.col_herramientas
			h4.herramientas
				a.proponer
				nav.categorias
					ul
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li.right
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
				.filtros
					ul
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
				.resultados
					.card_herramienta
						img(src='')
						h3 BIOMODELOS
						h4 INSTITUTO DE RECURSOS BIOLÓGICOS ALEXANDER VON HUMBOLDT
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						ul
							li
								a(class="icon ico-34", id="active" title="Bon in a Box", href="")
							li
								a(class="icon ico-34", id="active" title="Bon in a Box", href="")
							li
								a(class="icon ico-34", id="active" title="Bon in a Box", href="")
							li
								a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						a(class="ver_mas right", id="active" title="Bon in a Box", href="")
			.col_directorio
				nav.categorias
					ul
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")
						li.right
							a(class="icon ico-34", id="active" title="Bon in a Box", href="")