block header
	header
		.titlebar#titlebar
			.contenedor.clearfix
				h3
					a(class="left" title="GEO BON" href="http://geobon.org" target="_blank") GEO BON
				h3 #{__("header.title")}
		nav#mainnav
			.contenedor.clearfix
				ul.menu_principal
					li.left
						a(class="icon icon-ico-32" title="Login" href="/login")
					li.left
						a(class="icon icon-ico-33" title="Forum" href="/#section4")
					li.right
						ul.navlang
							li.right.active
								a(title="Español" href="") ES
							li.right
								a(title="Português" href="") PT
							li.right
								a(title="English" href="") EN
					li.right
						a(class="icon icon-ico-37" title="Contact" href="mailto:info@geobon.org")
					li.right
						a(class="icon icon-ico-36" title="Tools" href="/#section3")
					li.right
						a(class="icon icon-ico-35" title="Search Filters" href="/#section2")
					li.right
						a(class="icon icon-ico-34" title="Bon in a Box" href="/#section1")
