header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			form(class="clearfix" ng-controller="formToolUploadCtrl as formCtrl" name="formToolUpload" novalidate)
				.card.add_en#english
					.card-header
						h2 Add tool
						ul.actions
							li
								a(data-toggle-sections title="Spanish" class="langbar btn_add_es") ES
							li
								a(data-toggle-sections title="Portuguese" class="langbar btn_add_pt") PT
							li
								a(data-toggle-sections title="Comment" class="btn_add_comm")
									i.zmdi.zmdi-comment-edit
					.card-body
						.formtool
							h3 English tool Form
							.columnaforma
								ol
									li
										input(type="text" name="toolname" ng-model="formCtrl.toolName" placeholder="Tool Name" aria-describedby="Tool name" required)
										uib-alert(ng-show="formToolUpload.toolname.$invalid && !formToolUpload.toolname.$pristine" type="warning") Tool name is required.
									li
										h4 clasification categories
										.categorias.clearfix
											ul
												li
													button.selected(data-toggle-category title="Monitoring Components" uib-tooltip="Monitoring Components" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/filt1m.png')
												li
													button(data-toggle-category title="EBV" uib-tooltip="EBV" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/filt2m.png')
												li
													button(data-toggle-category title="By Theme" uib-tooltip="By Theme" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/filt3m.png')
												li
													button(data-toggle-category title="By Kind" uib-tooltip="By Kind" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/filt4m.png')
												li
													button(data-toggle-category title="By Taxonomy" uib-tooltip="By Taxonomy" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/filt5m.png')
										h3 subject categories
										#subCat1.iconosformulario
											ul
												li
													button(class="icon-ico-01" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Observation Design" uib-tooltip="Observation Design" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-02" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Data collection" uib-tooltip="Data collection" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-03" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Data Management" uib-tooltip="Data Management" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-04" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Data analysis" uib-tooltip="Data analysis" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-05" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Report results" uib-tooltip="Report results" tooltip-placement="bottom" tooltip-trigger="mouseenter")
										#subCat2.iconosformulario.hidden
											ul.cd2
												li
													button(class="icon-ico-06" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Communities composition" uib-tooltip="Communities composition" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-07" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Ecosystem function" uib-tooltip="Ecosystem function" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-08" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Ecosystem structure" uib-tooltip="Ecosystem structure" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-09" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Genetic composition" uib-tooltip="Genetic composition" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-10" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Species populations" uib-tooltip="Species populations" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-11" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Species traits" uib-tooltip="Species traits" tooltip-placement="bottom" tooltip-trigger="mouseenter")
										#subCat3.iconosformulario.hidden
											ul.cd3
												li
													button(class="icon-ico-12" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Ecosystem services" uib-tooltip="Ecosystem services" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-13" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Citizen science" uib-tooltip="Citizen science" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-14" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Traditional knowledge" uib-tooltip="Traditional knowledge" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-15" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Invasive species" uib-tooltip="Invasive species" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-16" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="CITES" uib-tooltip="CITES" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-17" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Migratory" uib-tooltip="Migratory" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-18" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Fresh water" uib-tooltip="Fresh water" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-19" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Marine" uib-tooltip="Marine" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-20" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Terrestrial" uib-tooltip="Terrestrial" tooltip-placement="bottom" tooltip-trigger="mouseenter")
										#subCat4.iconosformulario.hidden
											ul.cd4
												li
													button(class="icon-ico-21" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Dataset" uib-tooltip="Dataset" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-22" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Software" uib-tooltip="Software" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-23" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Data standards" uib-tooltip="Data standards" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-24" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Literature" uib-tooltip="Literature" tooltip-placement="bottom" tooltip-trigger="mouseenter")
										#subCat5.iconosformulario.hidden
											ul.cd5
												li
													button(class="icon-ico-25" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Amphibians" uib-tooltip="Amphibians" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-26" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Birds" uib-tooltip="Birds" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-27" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Invertebrates" uib-tooltip="Invertebrates" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-28" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Mammals" uib-tooltip="Mammals" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-29" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Fish" uib-tooltip="Fish" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-30" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Reptiles" uib-tooltip="Reptiles" tooltip-placement="bottom" tooltip-trigger="mouseenter")
												li
													button(class="icon-ico-31" data-toggle-subcategory data-tagged-categories='formCtrl.categories' title="Plants" uib-tooltip="Plants" tooltip-placement="bottom" tooltip-trigger="mouseenter")
										selected-categories.tagsinput(data-tagged-categories='formCtrl.categories')
									li
										textarea.input-forum(type="textarea" name="shortDescription" ng-model="formCtrl.shortDescription" placeholder="Short descriptive text (250 characters)" required)
										uib-alert(ng-show="formToolUpload.shortDescription.$invalid && !formToolUpload.shortDescription.$pristine" type="warning") Short descriptive text is required.
									li
										textarea.input-forum.h105(type="textarea" name="longDescription" ng-model="formCtrl.longDescription" placeholder="Full text (1800 characters)" required)
										uib-alert(ng-show="formToolUpload.longDescription.$invalid && !formToolUpload.longDescription.$pristine" type="warning") Full tool description is required.
									li
										h4 THUMBNAIL IMAGE ( 300px Width )
										h5 This image appears in the search directory
										.btn_file load file
											input( class="nobtnfile" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" ngf-min-width="100" ngf-resize="{width: 300, height: 250}")
										i(ng-show="formToolUpload.file.$error.required")
										br
										i(ng-show="formToolUpload.file.$error.maxSize") File too large {{picFile.size / 1000000|number:1}}MB: max 2M
										img(ng-show="formToolUpload.file.$valid" ngf-thumbnail="picFile" class="thumb")
										button(ng-click="picFile = null" ng-show="picFile") Remove
									.clearfix
									li
										h4.pt10 tool descriptive image ( 600px Width )
										button.btn.left(type="") upload
										button.btn.left(type="") X
									.clearfix
									li
										input(type="text" name="urlWebsite" ng-model="formCtrl.urlWebsite" placeholder="Web Site")
									li
										input(type="email" name="contactEmail" ng-model="formCtrl.contactEmail" placeholder="Contact email" required)
										uib-alert(ng-show="formToolUpload.contactEmail.$invalid && !formToolUpload.contactEmail.$pristine" type="warning") Contact email is required.
									li
										input.country-select(country-select name="country" data-ng-model="formCtrl.country" placeholder="Country covering")
										uib-alert(ng-show="formToolUpload.country.$invalid && !formToolUpload.country.$pristine" type="warning") Country is required.
							h3 english directory form
							.columnaforma
								ol
									li
										input(type="text" name="responsibleName" data-ng-model="formCtrl.responsibleName" placeholder="responsible name" required)
										uib-alert(ng-show="formToolUpload.responsibleName.$invalid && !formToolUpload.responsibleName.$pristine" type="warning") Responsible name is required.
									li
										input(type="text" name="subtitle" data-ng-model="formCtrl.directorySubtitle" placeholder="SUBTITLE / TITLE / COMPANY")
									li
										h4 search categories
										.categorias.clearfix
											ul
												li
													button(data-toggle-directory-type class="selected" data-directory-type='formCtrl.selectedDirectoryType' title="Institution" uib-tooltip="Institution" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/inst.png')
												li
													button(data-toggle-directory-type data-directory-type='formCtrl.selectedDirectoryType' title="Initiative" uib-tooltip="Initiative" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/inic.png')
												li
													button(data-toggle-directory-type data-directory-type='formCtrl.selectedDirectoryType' title="Investigator" uib-tooltip="Investigator" tooltip-placement="bottom" tooltip-trigger="mouseenter")
														img(src='../images/inves.png')
									li
										textarea.input-forum.h180(type="textarea" name="directoryShortDescription" data-ng-model="formCtrl.directoryShortDescription" placeholder="Short descriptive text (300 characters)" required)
										uib-alert(ng-show="formToolUpload.directoryShortDescription.$invalid && !formToolUpload.directoryShortDescription.$pristine" type="warning") Responsible short description is required.
									li
										h4 THUMBNAIL IMAGE
										h5 ( 300PX WIDTH )
										button.btn.left(type="") upload
										button.btn.left(type="") X
									.clearfix
									li
										input(type="text" name="directoryWebSite" data-ng-model="formCtrl.directoryWebSite" placeholder="Web Site")
									li
										input(type="email" name="directoryEmail" data-ng-model="formCtrl.directoryEmail" placeholder="Contact Email" required)
										uib-alert(ng-show="formToolUpload.directoryEmail.$invalid && !formToolUpload.directoryEmail.$pristine" type="warning") Responsible contact email is required.
									li
										input.country-select(country-select name="responsibleCountry" data-ng-model="formCtrl.responsibleCountry" placeholder="Country")
										uib-alert(ng-show="formToolUpload.responsibleCountry.$invalid && !formToolUpload.responsibleCountry.$pristine" type="warning") Country is required.
				.card.hidden#spanish
					.card-header
						h2 Add tools
						ul.actions
							li
								a(data-toggle-sections title="English" class="langbar") EN
							li
								a(data-toggle-sections title="Portuguese" class="langbar") PT
							li
								a(data-toggle-sections title="Comment" class="btn_add_comm")
									i.zmdi.zmdi-comment-edit
					.card-body
							.formtool
								h3 Spanish tool data
								.columnaforma
									ol
										li
											input(type="text" name="toolname" data-ng-model="formCtrl.toolNameSpanish" placeholder="Spanish Tool Name")
										li
											textarea.input-forum(type="textarea" data-ng-model="formCtrl.shortDescriptionSpanish" name="descrip1" placeholder="Spanish short descriptive text (250 characters)")
										li
											textarea.input-forum.h105(type="textarea" data-ng-model="formCtrl.longDescriptionSpanish" name="descrip2" placeholder="Spanish full text (1800 characters)")
								h3 spanish directory data
								.columnaforma
									ol
										li
											input(type="text" name="toolname" data-ng-model="formCtrl.responsibleNameSpanish" placeholder="Spanish responsible name")
										li
											input(type="text" name="toolname" data-ng-model="formCtrl.directorySubtitleSpanish" placeholder="SPANISH SUBTITLE / TITLE / COMPANY")
										li
											textarea.input-forum.h180(type="textarea" data-ng-model="formCtrl.directoryShortDescriptionSpanish" name="descripr" placeholder="Spanish short descriptive text (300 characters)")
				.card.hidden#portuguese
					.card-header
						h2 Add tools
						ul.actions
							li
								a(data-toggle-sections title="English" class="langbar") EN
							li
								a(data-toggle-sections title="Spanish" class="langbar") ES
							li
								a(data-toggle-sections title="Comment" class="btn_add_comm")
									i.zmdi.zmdi-comment-edit
					.card-body
							.formtool
								h3 portuguese tool data
								.columnaforma
									ol
										li
											input(type="text" name="toolname" data-ng-model="formCtrl.toolNamePortuguese" placeholder="Portuguese Tool Name")
										li
											textarea.input-forum(type="textarea" data-ng-model="formCtrl.shortDescriptionPortuguese" name="descrip1" placeholder="Portuguese short descriptive text (250 characters)")
										li
											textarea.input-forum.h105(type="textarea" data-ng-model="formCtrl.longDescriptionPortuguese" name="descrip2" placeholder="Portuguese full text (1800 characters)")
								h3 portugues directory data
								.columnaforma
									ol
										li
											input(type="text" name="toolname" data-ng-model="formCtrl.responsibleNamePortuguese" placeholder="Portuguese responsible name")
										li
											input(type="text" name="toolname" data-ng-model="formCtrl.directorySubtitlePortuguese" placeholder="PORTUGUESE SUBTITLE / TITLE / COMPANY")
										li
											textarea.input-forum.h180(type="textarea" data-ng-model="formCtrl.directoryShortDescriptionPortuguese" name="descripr" placeholder="Portuguese short descriptive text (300 characters)")
				.card.hidden#comments
					.card-header
						h2 Add tools
						ul.actions
							li
								a(data-toggle-sections title="English" class="langbar") EN
							li
								a(data-toggle-sections title="Spanish" class="langbar") ES
							li
								a(data-toggle-sections title="Portuguese" class="langbar") PT
					.card-body
							.formtool
								h3 expert qualification
								.columnaforma
									ol
										li
											textarea.input-forum(type="textarea" data-ng-model="formCtrl.toolComment" name="descrip1" placeholder="Short descriptive text (250 characters)")
										li
											h4 Add a score
											rate-yo(on-set="set" on-change="change" data-ng-model="formCtrl.toolRating" read-only="options.readOnly" options="formCtrl.ratingOptions")
				button(type="submit" ng-disabled="formCtrl.$invalid") Send
			.clearfix
footer#footer(data-ng-include="'/template/footer.html'")
