header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Add tools
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='add_tool_es', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") ES
						li(data-ui-sref-active='active')
							a(data-ui-sref='add_tool_pt', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") PT
						li(data-ui-sref-active='active')
							a(data-ui-sref='tool_comment', data-ng-click='adminctrl.sidebarStat($event)')
								i.zmdi.zmdi-comment-edit
						li
							a(href="")
								i.zmdi.zmdi-refresh-alt
				.card-body
					form(id="" method="" action="" class="clearfix")
						.formtool
							h3 English tool Form
							.columnaforma
								ol
									li
										input(type="text" name="toolname" placeholder="Tool Name")
									li
										h4 search categories
										.categorias.clearfix
											ul
												li
													a(class="" data-toggle="tooltip" title="Monitoring Components" href="")
														img(src='../images/filt1m.png')
												li
													a(class="selected" data-toggle="tooltip" title="EBV" href="")
														img(src='../images/filt2m.png')
												li
													a(class="" data-toggle="tooltip" title="By Theme" href="")
														img(src='../images/filt3m.png')
												li
													a(class="" data-toggle="tooltip" title="By Kind" href="")
														img(src='../images/filt4m.png')
												li
													a(class="" data-toggle="tooltip" title="By Taxonomy" href="")
														img(src='../images/filt5m.png')
											h3 filtro por temática
										.iconosformulario.hidden
											ul
												li
													button(class="icon-ico-01" data-toggle="tooltip" title="Observation Design" href="")
												li
													button(class="icon-ico-02" data-toggle="tooltip" title="Data collection" href="")
												li
													button(class="icon-ico-03" data-toggle="tooltip" title="Data Management" href="")
												li
													button(class="icon-ico-04" data-toggle="tooltip" title="Data analysis" href="")
												li
													button(class="icon-ico-05" data-toggle="tooltip" title="Report results" href="")
										.iconosformulario
											ul
												li
													button(class="icon-ico-06" data-toggle="tooltip" title="Communities composition" href="")
												li
													button(class="icon-ico-07" data-toggle="tooltip" title="Ecosystem function" href="")
												li
													button(class="icon-ico-08" data-toggle="tooltip" title="Ecosystem structure" href="")
												li
													button(class="icon-ico-09" data-toggle="tooltip" title="Genetic composition" href="")
												li
													button(class="icon-ico-10" data-toggle="tooltip" title="Species populations" href="")
												li
													button(class="icon-ico-11" data-toggle="tooltip" title="Species traits" href="")
										.iconosformulario.hidden
											ul
												li
													button(class="icon-ico-12" data-toggle="tooltip" title="Ecosystem services" href="")
												li
													button(class="icon-ico-13" data-toggle="tooltip" title="Citizen science" href="")
												li
													button(class="icon-ico-14" data-toggle="tooltip" title="Traditional knowledge" href="")
												li
													button(class="icon-ico-15" data-toggle="tooltip" title="Invasive species" href="")
												li
													button(class="icon-ico-16" data-toggle="tooltip" title="CITES" href="")
												li
													button(class="icon-ico-17" data-toggle="tooltip" title="Migratory" href="")
												li
													button(class="icon-ico-18" data-toggle="tooltip" title="Fresh water" href="")
												li
													button(class="icon-ico-19" data-toggle="tooltip" title="Marine" href="")
												li
													button(class="icon-ico-20" data-toggle="tooltip" title="Terrestrial" href="")
										.iconosformulario.hidden
											ul
												li
													button(class="icon-ico-21" data-toggle="tooltip" title="Dataset" href="")
												li
													button(class="icon-ico-22" data-toggle="tooltip" title="Software" href="")
												li
													button(class="icon-ico-23" data-toggle="tooltip" title="Data standards" href="")
												li
													button(class="icon-ico-24" data-toggle="tooltip" title="Literature" href="")
										.iconosformulario.hidden
											ul
												li
													button(class="icon-ico-25" data-toggle="tooltip" title="Amphibians" href="")
												li
													button(class="icon-ico-26" data-toggle="tooltip" title="Birds" href="")
												li
													button(class="icon-ico-27" data-toggle="tooltip" title="Invertebrates" href="")
												li
													button(class="icon-ico-28" data-toggle="tooltip" title="Mammals" href="")
												li
													button(class="icon-ico-29" data-toggle="tooltip" title="Fish" href="")
												li
													button(class="icon-ico-30" data-toggle="tooltip" title="Reptiles" href="")
												li
													button(class="icon-ico-31" data-toggle="tooltip" title="Plants" href="")
									li
										textarea.input-forum(type="textarea" name="descrip1" placeholder="Short descriptive text (250 characters)")
									li
										textarea.input-forum.h105(type="textarea" name="descrip2" placeholder="Full text (1800 characters)")
									li
										h4 THUMBNAIL IMAGE ( 300px Width )
										h5 This image appears in the search directory, but is not required.
										button.btn.left(type="") upload
										button.btn.left(type="") X
									.clearfix
									li
										h4.pt10 tool descriptive image ( 600px Width )
										button.btn.left(type="") upload
										button.btn.left(type="") X
									.clearfix
									li
										input(type="text" name="toolname" placeholder="Web Site")
									li
										input(type="text" name="toolname" placeholder="Contact email")
									li
										input(type="text" name="toolname" placeholder="Country covering")
							h3 english directory form
							.columnaforma
								ol
									li
										input(type="text" name="toolname" placeholder="responsible name")
									li
										input(type="text" name="toolname" placeholder="SUBTITLE / TITLE / COMPANY")
									li
										h4 search categories
										.categorias.clearfix
											ul
												li
													a(class="selected" data-toggle="tooltip" title="Institution" href="")
														img(src='../images/inst.png')
												li
													a(class="" data-toggle="tooltip" title="Initiative" href="")
														img(src='../images/inic.png')
												li
													a(class="" data-toggle="tooltip" title="Investigator" href="")
														img(src='../images/inves.png')
									li
										textarea.input-forum.h180(type="textarea" name="descripr" placeholder="Short descriptive text (300 characters)")
									li
										h4 THUMBNAIL IMAGE
										h5 ( 300PX WIDTH )
										button.btn.left(type="") upload
										button.btn.left(type="") X
									.clearfix
									li
										input(type="text" name="toolname" placeholder="Web Site")
									li
										input(type="text" name="toolname" placeholder="Contact Email")
									li
										input(type="text" name="toolname" placeholder="Country")
								button(type="submit") Send
								.clearfix
footer#footer(data-ng-include="'/template/footer.html'")
