header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Responsible Review
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='directory', data-ng-click='adminctrl.sidebarStat($event)')
								i.zmdi.zmdi-long-arrow-left
						
				.card-body
					.toolabst
						.respinfo
							h3 sib colombia
							img(src='../images/instsm.png')
							.divisor
							a(class="site" href="http://www.biodiversidad.co") www.biodiversidad.co
							a(class="mail" href="mailto:sib@humboldt.org.co") sib@humboldt.org.co
							.logoent
								img(src='../images/sib.png')
							p Laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				.clearfix
footer#footer(data-ng-include="'/template/footer.html'")
