header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Directories
				.card-body(data-ng-controller="directoryCtrl as dirCtrl")
					table.sopas(ng-table='dirCtrl.tableParamsDirectory')
						tr(ng-repeat='row in $data track by row._id')
							td(data-title="'Responsible name'", filter="{'responsibleName': 'text'}", sortable="'responsibleName'") {{row.responsibleName.english}}
							td(data-title="'category'", filter="{category: 'text'}", sortable="'category'") {{row.category}}
							td(data-ui-sref-active='active')
								a(data-ui-sref='directory_edit')
									span Edit

footer#footer(data-ng-include="'/template/footer.html'")
