header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 edit responsible
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='edit_directory_es', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") ES
						li(data-ui-sref-active='active')
							a(data-ui-sref='edit_directory_pt', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") PT
						li(data-ui-sref-active='active')
							a(data-ui-sref='directory', data-ng-click='adminctrl.sidebarStat($event)')
								i.zmdi.zmdi-long-arrow-left
				.card-body
					form(id="" method="" action="" class="clearfix")
						.formtool
							.columnaforma
								ol
									li
										input(type="text" name="toolname" placeholder="responsible name")
									li
										input(type="text" name="toolname" placeholder="SUBTITLE / TITLE / COMPANY")
									li
										h4 search categories
										.categorias.clearfix
											ul
												li
													a(class="selected" data-toggle="tooltip" title="Institution" href="")
														img(src='../images/inst.png')
												li
													a(class="" data-toggle="tooltip" title="Initiative" href="")
														img(src='../images/inic.png')
												li
													a(class="" data-toggle="tooltip" title="Investigator" href="")
														img(src='../images/inves.png')
									li
										textarea.input-forum.h180(type="textarea" name="descripr" placeholder="Short descriptive text (300 characters)")
									li
										h4 THUMBNAIL IMAGE
										h5 ( 300PX WIDTH )
										button.btn.left(type="") upload
										button.btn.left(type="") X
									.clearfix
									li
										input(type="text" name="toolname" placeholder="Web Site")
									li
										input(type="text" name="toolname" placeholder="Contact Email")
									li
										input(type="text" name="toolname" placeholder="Country")
								button(type="submit") Send
								button(type="submit") delete
								.clearfix
footer#footer(data-ng-include="'/template/footer.html'")
