header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Edit responsible portuguese
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='directory_edit', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") EN
						li(data-ui-sref-active='active')
							a(data-ui-sref='edit_directory_es', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") ES
						li(data-ui-sref-active='active')
							a(data-ui-sref='directory', data-ng-click='adminctrl.sidebarStat($event)')
								i.zmdi.zmdi-long-arrow-left
				.card-body
					form(id="" method="" action="" class="clearfix")
						.formtool
							.columnaforma
								ol
									li
										input(type="text" name="toolname" placeholder="responsible name")
									li
										input(type="text" name="toolname" placeholder="SUBTITLE / TITLE / COMPANY")
									li
										textarea.input-forum.h180(type="textarea" name="descripr" placeholder="Short descriptive text (300 characters)")
								button(type="submit") Send
								.clearfix
footer#footer(data-ng-include="'/template/footer.html'")
