header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Card header
					ul.actions
						li
							a(href="")
								i.zmdi.zmdi-refresh-alt
						li
							a(href="")
								i.zmdi.zmdi-download
				.card-body
					p Contenido
footer#footer(data-ng-include="'/template/footer.html'")

