header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Tool Review
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='tools', data-ng-click='adminctrl.sidebarStat($event)')
								i.zmdi.zmdi-long-arrow-left
						
				.card-body
					.resultados
					.card_herramienta
						.crop4
							img(src='../images/fox.jpg')
						.titulos_card
							h3 BIOMODELOS
							h5 INSTITUTO DE RECURSOS BIOLÓGICOS ALEXANDER VON HUMBOLDT
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						ul
							li
								.icon-ico-06
							li
								.icon-ico-07
							li
								.icon-ico-08
							li
								.icon-ico-09

					.toolabst
						.toolinfo
							h3 CATALOGO DE LA BIODIVERSIDAD
							.divisor
							ul
								li
									.icon-ico-06
								li
									.icon-ico-07
								li
									.icon-ico-08
								li
									.icon-ico-09
							a(class="site" href="http://www.biodiversidad.co") www.biodiversidad.co
							a(class="mail" href="mailto:sib@humboldt.org.co") sib@humboldt.org.co
							.scrollarea.scrollp
								.crop2
									img(src="../images/catalogo.png", alt="")
								.paragcontainer
									.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					.clearfix
footer#footer(data-ng-include="'/template/footer.html'")

