header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Add tools
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='add_tool', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") EN
						li(data-ui-sref-active='active')
							a(data-ui-sref='add_tool_es', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") ES
						li(data-ui-sref-active='active')
							a(data-ui-sref='add_tool_pt', data-ng-click='adminctrl.sidebarStat($event)' class="langbar") PT
						li
							a(href="")
								i.zmdi.zmdi-refresh-alt
					form(id="" method="" action="" class="clearfix")
						.formtool
							h3 expert qualification
							.columnaforma
								ol
									li
										textarea.input-forum(type="textarea" name="descrip1" placeholder="Short descriptive text (250 characters)")
									li
										input(type="text" name="qualify" placeholder="Add a score")
								button(type="submit") Send
								.clearfix
footer#footer(data-ng-include="'/template/footer.html'")
