header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Tools
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='add_tool', data-ng-click='adminctrl.sidebarStat($event)')
								i.zmdi.zmdi-file-plus

				.card-body(data-ng-controller="toolTableCtrl as toolCtrl")
					table.sopas(ng-table='toolCtrl.tableParams')
						tr(ng-repeat='row in $data track by row._id')
							td(data-title="'Name'", filter="{name: 'text'}", sortable="'name'", show="true") {{row.name.english}}
							td(data-title="'Responsible'", filter="{responsibleName: 'text'}", sortable="'responsible'") {{row.directory.responsibleName.english}}
							td(data-title="'State'", filter="{state: 'text'}", sortable="'state'") {{row.state}}
							td(data-ui-sref-active='active')
								a(data-ui-sref='tool_edit')
									span Edit

footer#footer(data-ng-include="'/template/footer.html'")
