header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 User Review
						
				.card-body
					.toolabst
						.respinfo.nobor
							.crop3
								img(src='../images/c2.jpg')
							h2 César Gutiérrez
							h4 Diseñador LBAB
							a(class="mail" href="mailto:sib@humboldt.org.co") sib@humboldt.org.co
							.status Usuario General
							.editlink(data-ui-sref-active='active')
								a(data-ui-sref='user_edit', data-ng-click='adminctrl.sidebarStat($event)')
									span Edit
				.clearfix
footer#footer(data-ng-include="'/template/footer.html'")

