header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 Users
						
				.card-body
					table.sopas(ng-table='adminctrl.tableParamsUsers')
						tr(ng-repeat='row in $data track by row.id')
							td(data-title="'User'", filter="{user: 'text'}", sortable="'user'", show="false") {{row.user}}
							td(data-title="'Email'", filter="{email: 'text'}", sortable="'email'") {{row.email}}
							td(data-title="'role'", filter="{role: 'text'}", sortable="'role'") {{row.role}}
							td
								a(href="")
									span remove

footer#footer(data-ng-include="'/template/footer.html'")
