header#header(data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl")
section#main
	aside#sidebar(data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': adminctrl.sidebarToggle.left === true }")
	section#content
		.container
			.block-header
				h2 Dashboard
			.card
				.card-header
					h2 edit user
					ul.actions
						li(data-ui-sref-active='active')
							a(data-ui-sref='user_review', data-ng-click='adminctrl.sidebarStat($event)')
								i.zmdi.zmdi-long-arrow-left
				.card-body
					form(id="" method="" action="" class="clearfix")
						.formtool
							.columnaforma
								ol
									li
										input(type="text" name="username" placeholder="user name")
									li
										input(type="text" name="subtitle" placeholder="SUBTITLE / TITLE / COMPANY")
									li
										h4 THUMBNAIL IMAGE
										h5 ( 120PX WIDTH )
										button.btn.left(type="") upload
									.clearfix
									li
										input(type="text" name="toolname" placeholder="User Email")
								button(type="submit") Save
								button(type="submit") delete
								.clearfix
footer#footer(data-ng-include="'/template/footer.html'")
